// Snippet stylesheet

$main_font: Helvetica, sans-serif;

body {
	margin: 0;
	padding: 0;
	font-family: $main_font;
}

.hue {
	background: rgb(157, 245, 152);
}

.container {
	width: 95%;
	margin: 0 auto;
	text-align: center;
}

h2 {
	font-weight: 300;
	padding: 10px;
}

.btn {
	border: 2px solid #000;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
	padding: 20px;
	background: none;

	color: #000;
	text-decoration: none;

	border-radius: 0;

}

.btn_login {
	display: block;
	width: 65%;
	max-width: 300px;
	margin: 20px auto;
}

.btn_signup {
	display: block;
	width: 65%;
	max-width: 300px;
	margin: 20px auto;
}

.start {
	padding: 10%;
}

.masthead {
	padding-top: 20%;
}

.signup_form {
	width: 95%;
	margin: 0 auto;
	text-align: center;

	padding: 20px;
	.fields {
		input {
			display: block;
			margin: 5% auto;
		}

		input[type="email"] {
			width: 70%;
			height: 20px;
		}

		input[type="password"] {
			width: 70%;
			height: 20px;
		}

		input[type="submit"] {
			border-radius: 0;
			padding: 10px;
		}
	}
}

.snippet {
	margin: 0 auto;
	width: 95%;

	h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 1em;
	}

	.media {
		margin: 0 auto;
		width: 200px;
		height: 200px;

		.static_img {
			width: 200px;
			height: 200px;
			border: 10px solid #fff;
		}
	}

	.msg {
		margin: 40px auto;
		text-align: center;
		textarea {
			border: none;
			padding: 2%;
			width: 100%;
			text-align: left;
			border-radius: 0;

			background: none;
			font-family: Courier, sans-serif;
			font-size: 0.6em;
		}
		
	}

	.publish {
		text-align: center;

		.btn_publish {
			width: 400px;
		}
	}

	#fileinput {
		position: absolute;
		top: -9999px;
	}
	
}



footer {
	color: #717171;
	font-size: 0.4em;
	padding: 10px;
	margin-top: 40px;
}